/Lab2/Lab02_Interrupts_Timers.X/build/
/Lab2/Lab02_Interrupts_Timers.X/dist/
/Lab02_Interrupts_Timers.X/dist/
/Lab02_Interrupts_Timers.X/build/
/Lab3/Lab03_DAC.X/build/
/Lab3/Lab03_DAC.X/dist/
/Lab4/Lab04_Wave.X/build/
/Lab4/Lab04_Wave.X/dist/
/Lab5/Lab05_Touchscreen_Servos.X/build/
/Lab5/Lab05_Touchscreen_Servos.X/dist/
/Lab6/Lab06_Amazing_Ball.X/build/
/Lab6/Lab06_Amazing_Ball.X/dist/